body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

.container {
  margin: 50px auto 0 auto;
  background-color: #1b1c25;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 500px;
  box-shadow: 5px 10px blueviolet;
}

.block {
  display: flex;
  height: 170px;
  width: 170px;
  border-radius: 10rem;
}

.red {
  position: relative;
  right: 50px;
  background-color: red;
}

.green {
  position: relative;
  left: 50px;
  background-color: green;
}

.blue {
  position: relative;
  right: 50px;
  background-color: blue;
}

.yellow {
  position: relative;
  left: 50px;
  background-color: yellow;
}

.wrong {
  background-color: red;
  color: #ffffff;
}

.highlight {
  border: 1px solid #ffffff;
}
